extends layout

block content
	head
		//burger menu bar
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

	body
	nav.float-menu
		input#menu-open.menu-open(type='checkbox', href='#')
		label.menu-open-button(for='menu-open')
			span.burger
		a.nav-item(href='#')
			i.fa.fa-arrows-h
			| item 1
		a.nav-item(href='#')
			i.fa.fa-plus
			| item 2
		a.nav-item(href='#')
			i.fa.fa-heart
			| item 3
		a.nav-item(hred='#')
			i.fa.fa-bookmark
			| item 4
