doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/angled.css')
		link(rel='stylesheet', href='/stylesheets/navbubble.css')

		//google fonts api
		link(href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One', rel='stylesheet', type='text/css')

	body
		block content
