extends layout

block content
  body
    .block.-berry.edge--bottom
      h1 #{title}
    .block.-blue.edge--bottom--reverse
      h1 Bottom Angled Edge
      p Reversed
    .block.-berry.edge--top
      h1 Top Angled Edge
    .block.-blue.edge--top--reverse
      h1 Top Angled Edge
      p Reversed
    .block.-orange.edge--both
      h1 Top & Bottom Angled Edges
    .block.-green.edge--both--reverse
      h1 Top & Bottom Angled Edges
      p Reversed
